/* .big_gallery {
  display: flex;
  height: auto;
  justify-content: space-evenly;
  max-height: 100%;
}

.big_gallery img {
  height: auto;
  object-fit: scale-down;
  max-height: 100%;
}

.counter {
  align-self: flex-end;
}

.description {
  grid-area: description;
}

.description,.supplier_info{
  align-self: stretch;
  line-height: 1.5em;
  padding: 0 0.6em;
  text-align: justify;
  width: 95%;
}

.name_wraper {
  grid-area: name;
}

.name_wraper p {
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 0.1em;
}

.interface {
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.interface a {
  color: teal;
  font-size: 3em;
  font-weight: bold;
  text-decoration: none;
}

.photo_gallery {
  grid-area: photo;
}

.supplier_info{
  grid-area: suppl;
}

@media only screen and (max-width: 600px) {
  .element_wraper {
    display: grid;
    row-gap: .5em;
    grid-template-columns: 10px auto 10px;
    grid-template-rows: auto;
    grid-template-areas: 
    ". name   . " 
    " . description description " 
    " suppl suppl  . " 
    " photo photo photo ";

    margin-top: 0.6px;
  }
  .photo_gallery {
    width: 100%;
    max-height: 350px;
    margin: 0;
  }
}

@media only screen and (min-width: 768px) {
  .description {
    max-width: 95%;
  }
  .element_wraper {
    margin-top: 0.6px;
    display: grid;
    grid-row-gap: 1.5em;
    grid-template-columns: 5px auto 5px;
    grid-template-rows: auto;
    grid-template-areas: 
    ". name . " 
    " . description description " 
    " suppl suppl . " 
    " photo photo photo ";
  }
  .element_details {
    flex-direction: column;
  }
  .element_details div {
    padding: 0.2em 0.6em;
    width: unset;
  }
  .photo_gallery {
    height: unset;
    overflow: hidden;
    width: 96%;
    margin-left: 2%;
    max-height: 800px
  }
  .supplier_info {
    align-self: flex-end;
    max-width: 90%;
    grid-area: suppl;
  }
}

@media only screen and (min-width: 992px) {
  .element_wraper {
    margin-top: 0.6px;
    display: grid;
    grid-row-gap: 1.5em;
    grid-template-columns: 5px 24% 24% auto 24% 24% 5px;
    grid-template-rows: auto;
    grid-template-areas: 
    ". name name name name name . " 
    " description description description . suppl suppl suppl " 
    ". photo photo photo photo photo .";
  }
  .photo_gallery {
    border: 1px rgb(80, 80, 80, 0.5) solid;
    border-radius: 3px;
    background: rgb(69, 69, 69, 0.5);
    height: 200px;
    margin: 5px;
    margin-left: 12.5%;
    padding: 5px;
    position: relative;
    width: 75%;
    grid-area: photo;
  }
} */